@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Cormorant+Garamond:wght@300;400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  background-color: whitesmoke;
}

.about {
  height: auto;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__header {
  text-align: center;
}
.about__header::after {
  content: "";
  background-color: #14140F;
  width: 80%;
  height: 1px;
  display: block;
  margin: 0 auto;
}

.projects {
  background-color: rgba(52, 103, 92, 0.5);
  height: auto;
  padding-bottom: 5rem;
}
.projects__items {
  width: 80%;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 6rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}
.projects .project {
  color: rgb(255, 241, 223);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects .project__header {
  text-align: center;
  grid-column: 1/-1;
  padding: 3rem;
  color: rgb(255, 241, 223);
}
.projects .project__header::after {
  content: "";
  background-color: rgb(255, 241, 223);
  width: 80%;
  height: 1px;
  display: block;
  margin: 0 auto;
}
.projects .project__icon {
  font-size: 3rem;
}
.projects .project__text {
  width: 80%;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 100;
  display: inline-block;
  padding: 1rem;
  text-align: justify;
}

.heading-primary {
  font-size: 5rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

.heading-secondary {
  font-size: 3rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  text-align: center;
}

.heading-tertiary {
  font-size: 2rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  text-align: center;
}

.margin-bottom-sm {
  margin-bottom: 1rem;
}

.margin-bottom-m {
  margin-bottom: 2rem;
}

.margin-bottom-lg {
  margin-bottom: 5rem;
}

.btn {
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  color: #14140F;
  padding: 1rem 0;
}
.btn:hover {
  text-decoration: underline;
  transition: all 0.2s;
}

.card {
  width: 25%;
  height: 80%;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 1rem 2rem rgba(20, 20, 15, 0.3);
  position: relative;
  overflow: hidden;
}
.card__background--1 {
  background-image: url("../images/card1.jpg");
  background-size: cover;
}
.card__background--2 {
  background-image: url("../images/card2.jpg");
  background-size: cover;
}
.card__background--3 {
  background-image: url("../images/card3.jpg");
  background-size: cover;
}
.card__text-box {
  background-color: rgb(255, 241, 223);
  padding: 1.2rem;
  padding-bottom: 0;
  border-radius: 5px;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 5%;
  transform: translateY(50%);
  transition: all 1s ease;
}
.card__text-box-border {
  border: solid 1px #14140F;
  border-bottom: none;
  padding: 1.5rem;
}
.card:hover .card__text-box {
  transform: translateY(0);
}
.card__text {
  font-size: 1.2rem;
  text-align: justify;
}

.cards {
  display: flex;
  height: 50rem;
  justify-content: space-around;
}

.header {
  height: 78vh;
  position: relative;
  background-position: center;
  background-image: url("../images/header.jpg");
}
.header__text-box {
  background-color: rgb(255, 241, 223);
  width: 35%;
  padding: 1.5rem;
  border-radius: 5px;
  position: relative;
  left: 60%;
  top: 40%;
}
.header__text-box-border {
  background-color: rgb(255, 241, 223);
  padding: 3rem;
  border: solid 2px #14140F;
}

.nav {
  position: fixed;
  width: 100vw;
  height: 5rem;
  background-color: whitesmoke;
}
.nav__items {
  display: flex;
}
.nav__item {
  list-style-type: none;
  padding: 2rem;
}
.nav__item a:link, .nav__item a:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  color: #14140F;
}
.nav__item a:hover, .nav__item a:active {
  color: #F26800;
  transition: all 0.2s;
}

/*# sourceMappingURL=main.css.map */
