@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Cormorant+Garamond:wght@300;400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  background-color: whitesmoke;
}

.projects {
  height: auto;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
}
.projects__header {
  text-align: center;
  width: 100%;
}
.projects__header::after {
  content: "";
  background-color: #14140F;
  width: 80%;
  height: 1px;
  display: block;
  margin: 0 auto;
}

.abouts {
  background-color: #346750;
  height: auto;
  padding-bottom: 5rem;
}
.abouts__items {
  width: 80%;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 6rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.about {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__header {
  text-align: center;
  grid-column: 1/-1;
  padding: 3rem;
  color: whitesmoke;
  margin-bottom: 4rem;
}
.about__header::after {
  content: "";
  background-color: whitesmoke;
  width: 80%;
  height: 1px;
  display: block;
  margin: 0 auto;
}
.about__icon {
  font-size: 3rem;
}
.about__text {
  width: 80%;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 100;
  display: inline-block;
  padding: 1rem;
  text-align: justify;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  background: whitesmoke;
}

.form-section {
  width: 100%;
  height: auto;
  padding: 3rem;
  background-image: linear-gradient(to top, #053d2c, #346750);
}

.heading-primary {
  font-size: 5rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

.heading-secondary {
  font-size: 3rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  text-align: center;
}

.heading-tertiary {
  font-size: 2rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  text-align: center;
}

.margin-bottom-sm {
  margin-bottom: 1rem;
}

.margin-bottom-m {
  margin-bottom: 2rem;
}

.margin-bottom-lg {
  margin-bottom: 5rem;
}

.btn {
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  color: #14140F;
  padding: 1rem 0;
}
.btn:hover {
  text-decoration: underline;
  transition: all 0.2s;
}

.btnBig {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  letter-spacing: 1px;
  border: none;
  border-radius: 1rem;
  background-color: #053d2c;
  color: whitesmoke;
  display: block;
  margin: 1rem auto;
  box-shadow: 0.5rem 1rem 2rem rgba(20, 20, 15, 0.3);
  transition: all 0.2s ease;
}
.btnBig:hover {
  filter: brightness(110%);
}
.btnBig:active {
  transform: translateY(1px);
  box-shadow: 0.5rem 1rem 1rem rgba(20, 20, 15, 0.3);
}

.card {
  width: 25%;
  height: 80%;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 1rem 2rem rgba(20, 20, 15, 0.3);
  position: relative;
  overflow: hidden;
}
.card__background--1 {
  background-image: linear-gradient(to top, rgba(162, 220, 174, 0.4), rgba(5, 61, 44, 0.4)), url("../images/card1.jpg");
  background-size: cover;
}
.card__background--2 {
  background-image: linear-gradient(to top, rgba(162, 220, 174, 0.4), rgba(5, 61, 44, 0.4)), url("../images/card2.jpg");
  background-size: cover;
}
.card__background--3 {
  background-image: linear-gradient(to top, rgba(162, 220, 174, 0.4), rgba(5, 61, 44, 0.4)), url("../images/card3.jpg");
  background-size: cover;
}
.card__text-box {
  background-color: whitesmoke;
  padding: 1.2rem;
  padding-bottom: 0;
  border-radius: 5px;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 5%;
  transform: translateY(50%);
  transition: all 1s ease;
}
.card__text-box-border {
  border: solid 1px #14140F;
  border-bottom: none;
  padding: 1.5rem;
}
.card:hover .card__text-box {
  transform: translateY(0);
}
.card__text {
  font-size: 1.2rem;
  text-align: justify;
}

.cards {
  display: flex;
  height: 50rem;
  justify-content: space-around;
}

.header {
  height: 78vh;
  position: relative;
  background-position: center;
  background-image: url("../images/header.jpg");
  background-size: cover;
}
.header__shadow {
  height: 25%;
  width: 100%;
  background-image: linear-gradient(to top, whitesmoke, transparent);
  position: absolute;
  bottom: 0;
}
.header__text-box {
  background-color: whitesmoke;
  width: 35%;
  padding: 1.5rem;
  border-radius: 5px;
  position: relative;
  left: 60%;
  top: 40%;
  z-index: 2;
}
.header__text-box-border {
  background-color: whitesmoke;
  padding: 3rem;
  border: solid 2px #14140F;
  border-radius: 5px;
}

.nav {
  position: fixed;
  width: 100vw;
  height: 5rem;
  background-color: whitesmoke;
  z-index: 3;
}
.nav__items {
  display: flex;
}
.nav__item {
  list-style-type: none;
  padding: 2rem;
}
.nav__item a:link, .nav__item a:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  color: #14140F;
}
.nav__item a:hover, .nav__item a:active {
  color: #f23400;
  transition: all 0.2s;
}

.player {
  width: 70vw;
  border-radius: 5px;
  margin: 5vw;
  position: relative;
}

.video {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.show-controls {
  width: 100%;
  height: 30%;
  background: dodgerblue;
  position: absolute;
  z-index: 2;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: transparent;
}

.controls-container {
  display: flex;
  align-items: space-between;
  width: 100%;
  height: 10rem;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.progress-range {
  width: calc(100% - 3rem);
  height: 1rem;
  margin: auto;
  margin-top: 2rem;
  cursor: pointer;
  background: rgba(70, 70, 70, 0.5);
  border-radius: 1rem;
}

.progress-bar {
  width: 50%;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 1rem;
}

.controls-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.controls-left,
.controls-right {
  flex: 1;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
}

.controls-left {
  margin-left: 1.5rem;
}

.play-controls {
  margin-right: 1.5rem;
}

.fa-play:hover,
.fa-pause:hover {
  color: rgba(70, 70, 70, 0.5);
  cursor: pointer;
}

.volume-icon {
  cursor: pointer;
}

.volume-range {
  height: 1rem;
  width: 8rem;
  border-radius: 1rem;
  margin-left: 1.5rem;
  cursor: pointer;
  background: rgba(70, 70, 70, 0.5);
}

.volume-bar {
  width: 50%;
  height: 100%;
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 1rem;
}

.fa-solid {
  font-size: 3rem;
  color: white;
}

.controls-right {
  justify-content: flex-end;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  color: whitesmoke;
}

.speed {
  margin-right: 1.5rem;
}

select,
option {
  cursor: pointer;
}

select {
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: "Barlow", sans-serif;
}

select:focus {
  outline: none;
}

select > option {
  background: rgba(0, 0, 0, 0.9);
  border: none;
  font-size: 1.5rem;
}

.time-duration {
  margin-right: 1.5rem;
}

.fullscreen {
  margin-right: 1.5rem;
  cursor: pointer;
  font-size: 2rem;
}

.video-fullscreen {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  width: 70%;
  height: auto;
  background-color: red;
  margin: 3rem auto;
  padding: 5rem;
  background-image: url("../images/header.jpg");
  background-position: bottom;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 0.5rem 1rem 2rem rgba(20, 20, 15, 0.3);
}

.form {
  background-color: whitesmoke;
  width: 60%;
  padding: 2rem;
  margin: auto;
  border-radius: 1rem;
  box-shadow: 0.5rem 1rem 2rem rgba(20, 20, 15, 0.3);
}
.form__header {
  text-align: center;
  color: whitesmoke;
}
.form__header::after {
  content: "";
  background-color: whitesmoke;
  width: 80%;
  height: 1px;
  display: block;
  margin: 0 auto;
}
.form-border {
  background-color: whitesmoke;
  padding: 3rem;
  border: solid 2px #14140F;
}

.form-group {
  padding: 1rem;
  width: 100%;
}
.form-group label {
  display: block;
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  color: #14140F;
  padding-bottom: 0.5rem;
}
.form-group input {
  width: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
  outline: none;
  border: none;
}
.form-group .error {
  color: #f23400;
  font-size: 0.8rem;
}

.form-group.success input {
  border: 1px solid green;
}

.form-group.error input {
  border: 1px solid #f23400;
}

.message-container {
  margin: auto;
  text-align: center;
}

.message {
  font-size: 1.5rem;
  color: green;
}

.footer {
  background-color: #14140F;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__icons a:link, .footer__icons a:visited {
  text-decoration: none;
  color: whitesmoke;
  font-size: 3rem;
  padding: 2rem;
  text-shadow: 4px 4px 2rem rgba(251, 251, 251, 0.5);
}
.footer__icons a:hover, .footer__icons a:active {
  filter: brightness(80%);
}

/*# sourceMappingURL=main.css.map */
