.header {
    height: 78vh;
    position: relative;
    background-position: center;
    background-image: url("../images/header.jpg");

    
    &__text-box {
        background-color: $white;
        width: 35%;
        padding: 1.5rem;
        border-radius: 5px;
        position: relative;        
        left: 60%;
        top: 40%;        

        &-border {
            background-color: $white;
            padding: 3rem;
            border: solid 2px $dark;
        }
        
    }

    
}